@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

:root {
  --primaryColor: #0336ff;
  --white: #ffffff;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--primaryColor);
  color: var(--white);
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

#root {
  border: dashed 2px red;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
